*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Montserrat;

}
body ,html{
    height: 100%;
    width: 100%;

}
.navbar{
    height: 160px;
    width: 100%;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 150px;
    gap: 60px;
    font-size: 1.2rem;
    position: fixed;
    z-index: 99;
    
}

#img{
    height: 90px;
    width: fit-content;
}
.main{
   position: relative;
   background-color: rgba(0, 0, 0, 0.515);
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 5px;
    z-index: 10;

}
.corsor{
    height: 20px;
    width: 20px;
    background-color: rgba(242, 249, 99, 0.927);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
.bigcorsor{
    height: 50vh;
    width: 50vh;
    background-color: rgba(142, 247, 255, 0.403);
    box-shadow: 20px 20px 10px rgba(137, 131, 246, 0.647);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(80px);
}

#video{
   height: 100%;
   width: 100%;
   position: fixed;
   object-fit: cover;
   z-index: -5;
}
#page1 h1::before{
    content: 'EAT. DRINK. PLAY';
    color: rgb(102, 180, 76);
    top: -6px;
    left:-6px;
    position: absolute;
    -webkit-text-stroke: 2px rgb(249, 252, 83);
    z-index: -1;
} 
#page1 h1{
    position: relative;
    font-size: 120px;
    font-weight: 900;
    
    
}

#page1 h2{
    
    font-size: 40px;
    font-weight: 800;
}
#page1 h3{
    font-size:20px;
    font-weight: 500;
    width: 50%;
    line-height: 2;
}
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;

}
.scrollermain{

white-space:nowrap;
overflow-x: auto;
overflow-y: hidden;


}


.scrollermain::-webkit-scrollbar{
    display: none;
}

.scroller{
    white-space:nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: all linear 0.5s ;
    
}
@keyframes scroll {
    from{
        transform:translateX(0%);

    }
   TO{
    transform:translateX(-100%);
   } 
}
.scroller h2{
    font-weight: 900;
    display: inline-block;
    font-size: 4rem;
    -webkit-text-stroke: 2px rgb(218, 236, 55);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: transparent;
    margin-right: 2px;
    color: transparent;
}   

.about{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
#aimg{
    height: 50%;
    width: 20%;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 10px;
}
#aimg1{
    height: 50%;
    border: 10px;
    width: 20%;
    margin-right: 50px;
    object-fit: cover;
}


#aboutcontaint{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#aboutcontaint h3{
    font-size: 2rem;
}

#threeimg{
     height: 60vh;
     display: flex;
     justify-content: space-evenly;
     align-items:center;

     
}
.card{
    height: 70%;
    width: 25%;
    border-radius: 20px;
    background-position:center;
    background-size:cover ;
     overflow: hidden;
     position: relative;
     transition: all ease 0.6s ;

}
#timg{
    height: 100%;
    width: 100%;
    
}
#timg1{
    height: 100%;
    width: 100%;
}
#timg2{
    height: 100%;
    width: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(239, 32, 63);
    opacity:0;
    position: absolute;
    transition: all ease 0.6s ;
}
.overlay p:hover{
    opacity:1;
}
.card:hover{
    opacity: 1;
}
.overlay h3{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: 900;
}
.overlay p{
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
}
.page3{
    background-color: black;
    height: 100vh;
    width: 100%;
    
}




